@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-body">
    <h1>@ViewData["Title"]</h1>

    <p>Уберите руки.</p>
    <p><i><font color="red">Цзоу кай ба.</font></i></p>
    <p>Вы не врач, вы вредитель.</p>
    <p><i><font color="red">Нин бу ши ишен. Нин ши вэйхай фэнцзы.</font></i></p>
    <p>Вы сами меня и заразили.</p>
    <p><i><font color="red">Нин цзыцзи чуаньжан лэ во.</font></i></p>
    <p>Я плюнул вам в рис, теперь вы умрете.</p>
    <p><i><font color="red">Во сян нидэ фанван ли ту лэ тань.</font></i></p>
    <p><img src="~/images/F6SUAKQSeF0.jpg" alt="abobes" /></p>
</div>